# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html

[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4

[mysqld]
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
#datadir=/var/lib/mysql
server-id=1
#log-bin=mysql-bin
#expire_logs_days=1
disable-log-bin
skip_innodb_doublewrite
#socket=/var/lib/mysql/mysql.sock
bind-address=0.0.0.0

# Disabling symbolic-links is recommended to prevent assorted security risks
#symbolic-links=0

#log-error=/var/log/mysql/mysqld.log
#pid-file=/var/run/mysqld/mysqld.pid

default_authentication_plugin=mysql_native_password
default_password_lifetime=0
port=3306
user=mysql
default-storage-engine=InnoDB

character-set-server=utf8mb4
skip-character-set-client-handshake
collation-server=utf8mb4_bin
skip-name-resolve

## max connections
max_connections=100
# max_connections * tables used in one transaction + 5
table_open_cache=1024
# all tables(about 30) + max_connections + 5
table_definition_cache=400
# table_open_cache * 1.4
open_files_limit=1450

## global buffer
innodb_buffer_pool_size=1024M
innodb_log_files_in_group=2
innodb_log_file_size=128M
innodb_log_buffer_size=32M
innodb_file_per_table
innodb_autoextend_increment=64

#innodb_flush_log_at_trx_commit=1
innodb_flush_log_at_trx_commit=0
key_buffer_size=256M
max_heap_table_size=32M
tmp_table_size=16M
#query_cache_limit=4M
#query_cache_size=512M
#query_cache_min_res_unit=4K
#query_cache_type=1

## thread buffer
join_buffer_size=256K
read_buffer_size=512K
read_rnd_buffer_size=4M
sort_buffer_size=4M
max_allowed_packet=16M

## other
innodb_fast_shutdown=0
#general_log=0
#general_log_file=/var/log/mysql/general.log
slow_query_log=1
slow_query_log_file=/var/log/mysql/slow.log
long_query_time=0.1

[mysqldump]
default-character-set=utf8
quick
set-charset
single-transaction
flush-logs
skip-tz-utc
master-data=2
